# Virtual environments
venv/
env/
Lib/
*.egg-info/
__pycache__/

# Python cache
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Binaries
*.dll
*.so
*.exe

# Logs
*.log

Scripts/
Lib/
.ipynb_checkpoints/
__pycache__/
*.pyc
include/
bin/
pyvenv.cfg
